.contact-section{
    width: 100%;
    padding: 60px 0;
    font-family: 'DM Sans', sans-serif;
}

.contact-header{
    text-align: center;
    margin-bottom: 50px;
}

.contact-header p{
    color: #0008;
    margin-bottom: 5px;
}

.contact-header h1{
    font-size: 32px;
}

.contact-container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.contact-info{
    width: 45%;
    min-width: 300px;
}

.contact-info p {
    margin-bottom: 20px;
    color: #444;
}

.info-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info-item .icon{
    margin-right: 12px;
    font-size: 18px;
    color: #4a63ff;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 18px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #eee;
    border-radius: 50%;
    color: #333;
    transition: 0.3s ease;
    text-decoration: none;
}

.social-icons a:hover {
    background: #4a63ff;
    color: #fff;
}

.contact-form {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    font-family: inherit;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form button {
    width: 160px;
    padding: 12px;
    background: #4a63ff;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.contact-form button:hover {
    background: #3d54d1;
}