.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  margin-top: 70px;
}

.footer h2 {
  margin-bottom: 20px;
  color: #ddd;
}

.footer-links a {
  color: #ddd;
  margin: 0 10px;
  text-decoration: none;
  font-size: 15px;
}

.footer-links a:hover {
  color: #fff;
}

.footer-social {
  margin: 20px 0;
}

.footer-social a {
  color: #ddd;
  margin: 0 8px;
  font-size: 20px;
  transition: 0.3s ease;
}

.footer-social a:hover {
  color: #4a63ff;
}

.footer p {
  margin-top: 20px;
  color: #aaa;
  font-size: 14px;
}
