
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* background-color: blue; */
    padding-top: 20px;
    width: 100dvw;
}

.navbar-container .nav-items {
    padding: 10px 10px;
    display: flex;
    gap: 20px;
    border-radius: 100px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-container .nav-item a {
    border-radius: 20px;
    padding: 5px 10px;
    transition: 0.5s;
}

.navbar-container .nav-item a:hover {
    color: white;
    background-color: black;
}

.navbar-container .active {
    background-color: black;
    color: white;
}

.navbar-container .active a {
    color: white;
}

.navbar-container .nav-items a {
    font-family: "DM Sans";
}
