.hero-section {
    max-width: 700px;
}

.hero-section .field {
    display: flex;
}

.hero-section .content {
    margin-top: 20px;
}

.hero-section .bawah {
    margin-top: 40px;
    text-align: center;
}